.ba-tourist-box {
  background: $secondary-color;
  display: flex;
	img{
		margin-right: 60px;
	}
}
.ba-tourist-text{
	padding:50px 0;
	&__title{
		margin-bottom: 33px;
	}
	&__text{
		color: $text-color;
		line-height: 26px;

		&:before{
			content: '"';
			padding-right: 15px;
			color: #5474fd;
			font-size: 36px;
		}

	}
}

.ba-section-tourist-title{
	font-family: $secondary-font-family;
	text-align: center;
	line-height: 26px;
	margin-bottom: 94px;
}