$medium: 640px;
$large: 1024px;
$primary-color: #5474fd;
$secondary-color: #333333;
$text-color: #e8e8e8;

$body-font-family: "Josefin Sans", sans-serif;
$secondary-font-family: "Aleo", serif;

@import url("https://fonts.googleapis.com/css?family=Aleo|Josefin+Sans:400,700&display=swap");
@import "normalize";
@import "layout";
@import "elements";

html {
  scroll-behavior: smooth;
}
body {
  font: 400 16px/1.5 $body-font-family;
  color: #fff;
  border: 15 solid #fff;
}

p {
  margin: 0;
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;

  &hover {
    color: #fff;
  }
}

h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 4.8px;

  @media screen and (min-width: $medium) {
    font-size: 48px;
  }
}
h2 {
	font-size: 24px;
	font-weight: 400;

  @media screen and (min-width: $medium) {
	font-size: 36px;
  }
}
h3 {
	color: #fefefe;
	font-size: 20px;
font-weight: 400;
line-height: 26px;
text-transform: uppercase;
	
}
h4 {
}

/* Layout */
.ba-container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1110px;
  width: 100%;
}

@import 'header';

.ba-section {
  padding-top: 120px;

  &--choose{
	  background:url(../img/bg-choose.jpg)50% no-repeat;
	  background-size: cover;
	  padding-bottom: 132px;
  }

  &--icon{
	  padding: 82px 0 119px;
	  background: $secondary-color;

  }
  &--tourist{
	  background: url(../img/tourist-bg.jpg) 50% no-repeat;
	  background-size: cover;
	  padding-bottom: 200px;
  }
}
.ba-section-travel{
	padding: 229px 0 100px;
	&--one{
		background: url(../img/travel-one-bg.jpg) 50% no-repeat;
		background-size: cover;
	}
	&--two{
		background: url(../img/travel-two-bg.jpg) 50% no-repeat;
		background-size: cover;
	}
}
@import 'section-choose';
@import 'section-icon';
@import 'section-travel';
@import 'section-tourist';

.ba-footer{
	padding: 120px 0 54px;
	background: #232323;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


	img{
		margin-bottom: 15px;
	}
	p{
		margin-bottom: 30px;
	}
	
}
svg{
	fill: #fff;
	&:hover{
		fill:$primary-color;
	}

}