$medium: 640px;
$large: 1024px;
$primary-color: ;
$text-color: ;
$secondary-color: ;

$body-font-family: ;
$text-font-family: ;


@import "normalize";
@import "layout";
@import "elements";

html {
  scroll-behavior: smooth;
}
body {
  font: 400 14px/1.5 $body-font-family;
  color: $text-color;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: $primary-color;
  text-decoration: none;

  &hover {
    color: #fff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {


  @media screen and (min-width: $medium) {
    font-size: 30px;
  }
}
h2 {
 
  @media screen and (min-width: $medium) {
    font-size: 24px;
  }
}
h3 {
  
	
  @media screen and (min-width: $medium) {
    font-size: 18px;
  }
}
h4 {
  
}

/* Layout */
.ba-container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  width: 100%;
}
@import "header";
@import "section-intro";
@import "section-fitness";
@import "section-trainers";
@import "section-gallery";
@import "section-price";

.ba-section {
  padding: 60px 0;

  &--intro {
    background: #333 url(../img/bg-intro.jpg) no-repeat 50%;
    background-size: cover;
    @media screen and (min-width:$medium){
		 
	 }
    }
  }
  &--trainers {
    
  }

  &--price {
    
  }
  &--partners {

    @media screen and (min-width: $large) {
     
    }
  }

  &--contacts {
   
  }
  &--footer {
  }
}



@import "contacts";
